/*
=============== 
font
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/*
=============== 
variables
===============
*/
:root {
  /* colors */
  --black: #222;
  --white: #fff;
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue-100: hsl(224, 65%, 95%);
  --light-grayish-blue--200: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-blue: hsl(227, 35%, 25%);
  /* spacing */
  --max-width: 1000px;
  --section-spacing: 5rem 0;
  --gap: 5rem;
  /* radius */
  --main-radius: 1rem;
  --btn-radius: 5rem;
  /* shadows */
  --main-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, .1);
  /* transitions */
  --main-transition: all 0.3s ease-in-out;
  /* font sizes */
  --size-xxl: 4.5rem;
  --size-xl: 4rem;
  --size-lg: 3.5rem;
  --size-md: 3rem;
  --size-sm: 2.5rem;
  --size-xs: 2rem;
  --size-xxs: 1.5rem;
}

/*
=============== 
resets
===============
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--section-spacing);
  height: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

/*
=============== 
global classes
===============
*/
.container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.heading {
  font-weight: 800;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}

.text {
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

/*
=============== 
layout
===============
*/
.bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

/*
=============== 
components
===============
*/

/* slider */
.slider {
  width: 100%;
  margin: 4rem 0;
}

.slider__slide {
  webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.2rem;
  background: var(--light-grayish-blue-100);
  border-radius: var(--main-radius);
}

.slider__slide::-webkit-slider-thumb {
  cursor: pointer;
  webkit-appearance: none;
  appearance: none;
  background: var(--strong-cyan);
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  border-radius: 50%;
}


.slider__slide::-moz-range-thumb {
  background: var(--strong-cyan);
  width: 2.5rem;
  height: 2.5rem;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: var(--main-shadow);
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 4.5rem;
  height: 2.55rem;
}

.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.55rem;
  background-color: var(--light-grayish-blue-100);
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.switch__toggle:before {
  position: absolute;
  content: "";
  height: 1.95rem;
  width: 1.95rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

.switch__checkbox:checked+.switch__toggle {
  background-color: var(--strong-cyan);
}

.switch__checkbox:checked+.switch__toggle:before {
  -webkit-transform: translateX(1.95rem);
  -ms-transform: translateX(1.95rem);
  transform: translateX(1.95rem);
}

/* button */
.btn {
  border: 0;
  outline: 0;
  border-radius: var(--btn-radius);
  padding: 1rem 2rem;
  transition: var(--main-transition);
}

.btn:hover,
.btn:focus {
  transform: translateY(-0.5rem);
}

.btn--submit {
  background-color: var(--dark-blue);
  color: var(--pale-blue);
  font-size: var(--size-xxs);
}

/*
=============== 
preloader
===============
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.preloader__bg-pattern {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.1;
}

.preloader__content {
  position: absolute;
  display: grid;
  place-items: center;
}

.preloader__heading {
  font-size: var(--size-lg);
  color: var(--soft-cyan);
  z-index: 2000;
  pointer-events: none;
}

.preloader__spinner {
  width: 300px;
  height: 300px;
  position: relative;
}

.preloader__half-circle {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px double transparent;
  border-top-color: var(--soft-cyan);
  border-radius: 50%;
  animation: spinnerOne 1.5s linear infinite;
}

.preloader__half-circle:nth-child(2) {
  border: 10px double transparent;
  border-bottom-color: var(--soft-cyan);
  animation: spinnerTwo 1.5s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}

.hide-preloader {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
  display: none;
}

/*
=============== 
title
===============
*/
.title {
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}

.title__heading {
  font-size: var(--size-xl);
}

.title__lead {
  font-size: var(--size-xxs);
}

.title__bg-pattern {
  position: absolute;
  width: 15rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: -1
}

/*
=============== 
pricing card
===============
*/
.pricing {
  background-color: var(--white);
  color: var(--black);
  width: 600px;
  border-radius: var(--main-radius);
  box-shadow: var(--main-shadow);
}

.pricing__content {
  padding: 4rem 3rem;
  width: 100%;
}

.pricing__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing__views {
  font-size: var(--size-xxs);
  color: var(--grayish-blue);
  text-transform: uppercase;
}

.pricing__price {
  font-size: var(--size-md);
  color: var(--dark-blue);
}

.pricing__option {
  font-size: var(--size-xxs);
  color: var(--grayish-blue);
}

.pricing__plans {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 4rem;
}

.pricing__plan {
  margin: 0 2rem;
  font-size: var(--size-xxs);
  color: var(--grayish-blue);
}

.pricing__tag {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  background-color: var(--light-red);
  color: var(--light-grayish-red);
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: var(--main-radius)
}

.pricing__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  border-top: 0.2rem solid var(--light-grayish-blue-100);
}

.pricing__feature {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.pricing__icon {
  width: 1.5rem;
  margin-right: 2rem;
}

.pricing__desc {
  font-size: var(--size-xxs);
  color: var(--grayish-blue);
}

/*
=============== 
tag
===============
*/
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 5rem;
}

.tag__heading {
  font-size: var(--size-xxs);
  color: var(--black);
}

.tag__link {
  color: var(--strong-cyan);
  outline: 0;
}

.tag__link:hover,
.tag__link:focus {
  text-decoration: underline;
}

.tag__logo {
  width: 5rem;
}

/*
=============== 
media queries
===============
*/
@media screen and (max-width: 660px) {
  .bg-pattern {
    transform: scale(2.5);
  }

  .pricing {
    width: 90vw;
  }

  .pricing__tag {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .bg-pattern {
    transform: scale(3.5);
    top: 10rem;
  }

  .pricing__info {
    flex-direction: column;
  }

  .pricing__plan {
    text-align: center;
  }


  .pricing__footer {
    flex-direction: column;
  }

  .btn--submit {
    width: 100%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .switch {
    width: 10rem;
  }

  .switch__checkbox:checked+.switch__toggle:before {
    -webkit-transform: translateX(4.5rem);
    -ms-transform: translateX(4.5rem);
    transform: translateX(4.5rem);
  }
}

@media screen and (max-width: 400px) {
  .switch__checkbox:checked+.switch__toggle:before {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
  }
}

@media screen and (max-width: 350px) {
  .switch {
    width: 13rem;
  }

  .switch__checkbox:checked+.switch__toggle:before {
    -webkit-transform: translateX(2.5rem);
    -ms-transform: translateX(2.5rem);
    transform: translateX(2.5rem);
  }
}